body {
  background: #696969;
  color: ivory;
  text-align: center;
  width: 100%;
  font-family: 'Blinker', sans-serif;
}

h1 {
font-size: 90px;
background: #090909;
width: 98%;
margin: 0;
padding: 1.5rem 0;
text-align: center;
}
h2, h3, h4 {
  padding: 0;
  margin: 0;
}
i {
  color: gold;
}
b {
  color: #090909;
}
a {
  text-decoration: none;
  color: ivory;
}
a:hover {
  color: gold;
  cursor: pointer;
}
button{
  border-radius: 10px;
  background: ivory;
  font-weight:bold;
  font-size:16px;
  padding: 10px;
  cursor: pointer;
  font-family: monospace;
  transition-duration: 1s;
  text-align: center;
}
form {
text-align: center;
}
input {
  border-radius: 10px;
  background: ivory;
  font-size: 18px;
}
details {
  font-family: monospace;
  font-size: 18px;
  background: #696969;
}
summary {
  text-align: left;
}
input:hover, textarea:hover {
  background: gold;
  transition:.5s;
}
button:hover{
  background:red;
  transition:1s;
}
summary:hover, #create:hover, #update:hover {
  cursor: pointer;
}
.item:hover {
 transition: 2s;
 box-shadow:3px 3px 8px #090909;
 border-radius:10px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 94%;
}
.itemBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.item {
  position:relative;
  margin: .2rem;
  transition: 2s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
}
.create {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: sticky;
}
#bigger {
  font-family: monospace;
  font-size: 35px;
}
#gray {
  color: gray;
  font-style: italic;
  width: 90%;
}
textarea {
  resize: none;
}

@media screen and (max-width: 800px) {
h1 {
    font-size: 30px;
    width: 96%;
  }

.itemBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
textarea {
  width: 80%;
  height: 50%;
}
}
