body {
  background: #270808;
  color: ivory;
  text-align: center;
  width: 100%;
}

h1 {
font-family: monospace;
font-size: 80px;
padding: 1.5rem;
margin: 0;
background: #090909;
width: 100%;
text-align: center;
}
h2, h3, h4 {
  padding: 0;
  margin: 0;
}
i {
  color: gold;
}
a {
  text-decoration: none;
  color: ivory;
}
a:hover {
  color: gold;
  cursor: pointer;
}
button{
  border-radius: 10px;
  background: ivory;
  font-weight:bold;
  font-size:16px;
  padding: 10px;
  cursor: pointer;
  font-family: monospace;
  transition-duration: 1s;
  text-align: center;
}
form {
text-align: center;
}
input {
  border-radius: 10px;
  background: ivory;
  font-size: 18px;
}
details {
  font-family: monospace;
  font-size: 18px;
}
input:hover {
  background: gold;
  transition:1s;
}
button:hover{
  background:red;
  transition:1s;
}
summary:hover, #create:hover, #update:hover {
  cursor: pointer;
}
.item:hover {
 transition: 2s;
 box-shadow:6px 6px 6px 6px #222939;
 border-radius:10px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.itemBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.item {
  position:relative;
  margin: 10px;
  transition: 2s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.create {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: sticky;
}
#bigger {
  font-family: monospace;
  font-size: 35px;
}

@media screen and (max-width: 600px) {
h1 {
    font-size: 25px;
    width: 100%;
  }
  
.itemBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

}
